In [30]:
# First we have to import all the relevant libraries (aka Packages)
# Libraries/Packages are kits that organizations or independent users have created in order to
# not 're-invent the wheel' each time they needed to complete a task.
# In other words, they are sets of functions/methods/classes that help facilitate your programming
# Allowing you to do the same job, with less (visible) lines of code

In [99]:
# R Primitives (Basic Data Types)
# character: "a", "swc"
# numeric: 2, 15.5
# integer: 2L (the L tells R to store this as an integer)
# logical: TRUE, FALSE
# complex: 1+4i (complex numbers with real and imaginary parts)

In [104]:
# Let's assign some variables with these basic data types
ex_char <- "abc"
ex_numeric <-  2.09
ex_integer <-  2L 
ex_logical <-  TRUE
ex_complex <-  1+4i

In [110]:
# To display something in the console (show to user) we can use the print() function
# Just put whatever you want to show inside the parenthesis
print("Hello!")

[1] "Hello!"

In [111]:
# When we want to print multiple things that may not be all strings, we can paste() two things together
pasted_string <- paste("first part", "second part")
print(pasted_string)

[1] "first part second part"

In [105]:
print(paste("ex_char:", ex_char, typeof(ex_char), object.size(ex_char)))
print(paste("ex_numeric:", ex_numeric, typeof(ex_numeric), object.size(ex_numeric)))
print(paste("ex_integer:", ex_integer, typeof(ex_integer), object.size(ex_integer)))
print(paste("ex_logical:", ex_logical, typeof(ex_logical), object.size(ex_logical)))
print(paste("ex_complex:", ex_complex, typeof(ex_complex), object.size(ex_complex)))

[1] "ex_char: abc character 112"
[1] "ex_numeric: 2.09 double 56"
[1] "ex_integer: 2 integer 56"
[1] "ex_logical: TRUE logical 56"
[1] "ex_complex: 1+4i complex 64"

In [29]:
#current_os_fsep <- "/"
current_dir <- getwd()
data_dir <- file.path(current_dir, "data", fsep="/")
fake_dir <- file.path(current_dir, "fake_directory", fsep="/")

print(paste("Current Directory: ", current_dir))
print(paste("Data Directory: ", data_dir))
print(paste("Does data_dir exist?", dir.exists(data_dir)))
print(paste("Does fake_dir exist?", dir.exists(fake_dir)))

[1] "Current Directory:  C:/Users/ivan.sepulveda.joinm/Box/Capital Markets/Ivan Sepulveda/into_to_r"
[1] "Data Directory:  C:/Users/ivan.sepulveda.joinm/Box/Capital Markets/Ivan Sepulveda/into_to_r/data"
[1] "Does data_dir exist? TRUE"
[1] "Does fake_dir exist? FALSE"

In [35]:
# Now that we've proven that the data directory exists/is accessable, we can read in the data file
advertising_data_fp <- file.path(data_dir, "advertising.csv", fsep="/")
print(paste("Does advertising.csv exist?", file.exists(advertising_data_fp)))

advertising_df <- read.csv(advertising_data_fp)

[1] "Does advertising.csv exist? TRUE"

In [41]:
# Head will print the first n rows. Tail will print the last n rows
head(advertising_df, n=5)

  Daily.Time.Spent.on.Site Age Area.Income Daily.Internet.Usage
1 68.95                    35  61833.90    256.09
2 80.23                    31  68441.85    193.77
3 69.47                    26  59785.94    236.50
4 74.15                    29  54806.18    245.89
5 68.37                    35  73889.99    225.58
  Ad.Topic.Line                         City           Male Country
1 Cloned 5thgeneration orchestration    Wrightburgh    0    Tunisia
2 Monitored national standardization    West Jodi      1    Nauru
3 Organic bottom-line service-desk      Davidton       0    San Marino
4 Triple-buffered reciprocal time-frame West Terrifurt 1    Italy
5 Robust logistical utilization         South Manuel   0    Iceland
  Timestamp           Clicked.on.Ad
1 2016-03-27 00:53:11 0
2 2016-04-04 01:39:02 0
3 2016-03-13 20:35:42 0
4 2016-01-10 02:31:19 0
5 2016-06-03 03:36:18 0

In [59]:
# Okay, we know how the first 5 rows look like
# So what's the size/shape of the dataframe?
dim(advertising_df) # Returns Rows, Columns

[1] 1000   10

In [60]:
# Or in Human Readable Fommat
print(paste("advertising_df has", dim(advertising_df)[1], "rows and", dim(advertising_df)[2], "columns"))

[1] "advertising_df has 1000 rows and 10 columns"